In [1]:
import pandas as pd

In [6]:
df = pd.read_excel('../dataset/datathon.xlsx')

In [7]:
df.head()

  Data format : cust_id_token|current_address3|current_city|current_state|current_pin_code|permanent_address3|permanent_city|permanent_state|permanent_pin_code
0  1||JAMBI|INDONESIA|36126||CHENNAI|TAMIL NADU|6...
1  2|INJAMBAKKAM|CHENNAI|TAMIL NADU|600115||LONDO...
2  3|ROODEPOORT|JOHANNESBURG|GAUTENG|2169|MANDIR ...
3        4||DUBAI|DUBAI|18582||BARODA|GUJARAT|390007
4      5||SIRSA|HARYANA|125055||SIRSA|HARYANA|125055

In [15]:
df.loc[50]

Data format : cust_id_token|current_address3|current_city|current_state|current_pin_code|permanent_address3|permanent_city|permanent_state|permanent_pin_code    51||NEW DELHI|DELHI|110039||NEW DELHI|DELHI|11...
Name: 50, dtype: object